{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Internationnal Bangladesh</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="login">
    <h1>Login to Web App</h1>
    <form action="/" method="post">
        {% csrf_token %}
      <p><input type="text" name="username" placeholder="Username or Email"></p>
      <p><input type="password" name="password" placeholder="Password"></p>
      <p class="remember_me">
        <label>
          <input type="checkbox" name="remember_me" id="remember_me">
          Remember me on this computer
        </label>
      </p>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
    {% for message in messages %}
        <h4> {{message}}</h4>
        {% endfor %}
  </div>

  <div class="google">
      <p>
          Login With <a href="Google">Google</a>
      </p>
  </div>

  <div class="login-help">



    <p>Forgot your password? <a href="/reset_password">Click here to reset it</a>.</p>

  </div>



</body>
</html>